- MapStyles::COLOR_PALETTES.each do |name, colors|
  %table.palette{ "data-palette-name" => name, "data-palette-colors" => colors.to_json }
    - colors.each do |color|
      - hex_color = "#%06x" % color
      %tr
        %td.color{ :style => "background-color: #{hex_color}" }