.white
  - MapStyles::WHITE_PALETTES.each do |name, colors|
    = render :partial => "color_palette", :locals => { :name => name, :colors => colors }
.extra
  - MapStyles::EXTRA_PALETTES.each do |name, colors|
    = render :partial => "color_palette", :locals => { :name => name, :colors => colors }

