<h1>Upload or paste your map data</h1>
<p>To create your own map, you can either "upload" a spreadsheet file or "copy and paste" your data. You'll be presented with another page to verify the submitted data and customize what you want to visualize on your map.</p>

<%= render :partial => 'form' %>