.controls {
  float:right;
}

.controls a {
  background:url(../images/button_bg_round.png);
  border-width:0 !important;
  color:#555;
  cursor:pointer !important;
  display:block;
  float:left;
  font-size:20px;
  font-weight:bold;
  height:27px;
  line-height:25px;
  text-align:center;
  text-decoration:none !important;
  text-shadow:#fff 0 -1px 0;
  width:26px;
}

.controls a.add {
  line-height:23px;
  margin-left:5px;
}

.controls a:hover {
  background-position:-27px top;
}

.controls a:active {
  background-position:-54px top;
}