$maps-section-upload-width: 300px
$maps-section-padding: 20px
$maps-section-split-border: 3px
$maps-section-or-size: 34px

#maps.form
  .heading
    +clearfix
  h2
    float: left
    margin: 0 21px 21px 0
  p.description
    font-size: 12px
    line-height: 21px
    margin-top: 0
  fieldset
    background-color: $pending-form-color
    margin-bottom: 10px
    padding: $maps-section-padding
    +border-radius(8px)
  fieldset.completed
    background-color: $completed-form-color
  fieldset.location, fieldset.data
    .hint
      margin-left: 3em
      font-style: italic
      +monospace
  fieldset.import
    position: relative
    padding: 0px
    +clearfix
    .upload, .paste
      padding: $maps-section-padding ($maps-section-padding * 2)
    .upload
      float: left
      width: ($maps-section-upload-width) - ($maps-section-padding * 4)
      a.file
        +dimensions(auto, 29px)
        +fancy-button($base-color)
        display: block
        line-height: 29px
        text-align: center
      .hint
        text-align: center
    .paste
      margin-left: $maps-section-upload-width
      border-left: $maps-section-split-border solid white
      textarea#preprocess-paste
        display: block
        margin: 0
        padding: 0
        font-size: 6px
        +dimensions(100%, 40px)
    .or
      background-color: white
      color: $base-color
      text-align: center
      font-size: 13px
      line-height: $maps-section-or-size
      position: absolute
      top: 50%
      margin-top: -$maps-section-or-size / 2
      left: ($maps-section-upload-width) + ($maps-section-split-border / 2) - ($maps-section-or-size / 2)
      +dimensions($maps-section-or-size, $maps-section-or-size)
      +border-radius($maps-section-or-size / 2)

// Map form specifics
input#map_title
  margin-top: 5px
  width: 740px - ($maps-section-padding * 2) - ($input-padding * 2) - ($input-border-size * 2)

// Simulating a file upload button
// Specifying this to site over the entire section instead of just the button.
// To narrow this to just the button, add a.file to the selector.
#maps.form fieldset.import .upload
  overflow: hidden
  position: relative
  direction: ltr
  input#preprocess-upload
    position: absolute
    right: 0
    top: 0px
    font-family: Arial
    font-size: 118px
    margin: 0
    padding: 0
    cursor: pointer
    +opacity(0)

#maps.show
  #map_wrapper
    height: 500px
