@import compass/utilities
@import compass/css3

@import compass/reset
+reset-html5

@import fancy-buttons
$fb-gradient-style: matte

@import mixins

$background-color: rgb(11, 134, 191)
$base-color: rgb(22, 96, 149)
$action-color: rgb(194, 50, 122)
$pending-form-color: rgb(232, 244, 249)
$completed-form-color: rgb(187, 241, 188)

img
  :-ms-interpolation-mode bicubic

html
  min-height: 100%

body
  font-family: "Lucida Grande","Helvetica Neue", Arial, Tahoma, "Sans Serif"
  font-size: 14px
  line-height: 21px
  color: #555
  background-repeat: no-repeat
  background-color: $background-color
  +linear-gradient(color-stops($base-color, $background-color 500px))

a
  +unstyled-hover-link($base-color)

strong
  font-weight: bold

h2
  font-size: 42px
  line-height: 1
  font-weight: bold
  color: $action-color

h3
  font-size: 21px
  line-height: 1
  font-weight: bold
  color: #333

h3, p
  margin-top: 21px

@import layout
@import home
@import maps
@import forms
