- title "HTTP 404"
.description
  = render :partial => "steps"
  .intro
    %h2 We're sorry.<br />The change was rejected.

    %p For some reason, we can not process that request. Maybe you tried to change something you didn't have access to.

    %p Please send us feedback how the problem occured.
