- title "HTTP 500"
.description
  = render :partial => "steps"
  .intro
    %h2 We're sorry.<br />We ran into a problem.

    %p For some reason, we had trouble making a map from your data. IssueMap is new to the world and still figuring out the wild array of data, formats, and how to sketch a good map.

    %p Please send us feedback how the problem occured.
