- title "HTTP 404"
.description
  = render :partial => "steps"
  .intro
    %h2 We're sorry.<br />We can't find that.

    %p For some reason, we could not find the page you were looking for. Did you mistype the address? Perhaps, the page moved.

    %p Please send us feedback how the problem occured.
