- title "FAQ"
:markdown
  ## Frequently Asked Questions

  ### Why didn’t all of my geographic areas (boundaries) get mapped?

  Check the spelling. IssueMap cannot map geographic areas that are not spelled the same as the list we maintain.  If you are having problems with the boundaries not being mapped because of spelling issues, we suggest you use one of the unique identifier options like ISO code for countries, Area ID for FCC boundaries or FIPS codes for US states and counties.

  ### There is not an option in IssueMap for the geographic areas (boundaries) I would like to map.

  We are looking for additional boundaries to add to IssueMap, so please click the "feedback" button and let us know what boundaries you would like to see in the option list.

  ### I have street addresses and can’t get them mapped in IssueMap.

  IssueMap does not currently geocode street addresses and only joins data to geographic boundaries.  FortiusOne recommends you use one of the popular geocoders and mapping tools available online like [GeoCommons.com](http://geocommons.com/) or [BatchGeo.com](http://batchgeo.com/).

  ### How do featured maps get selected?

  Right now, FortiusOne staff selects featured maps by hand.  In the future, we are looking at automating selection of the most popular maps.

  ### How is the FCC involved in IssueMap?

  IssueMap is the product of partnership between the FCC and FortiusOne. We think it’s a great example of a private/public collaboration done right.  The IssueMap team at FortiusOne shares the FCC’s commitment to unlocking public datasets to help citizens better engage with government data.  Products like IssueMap can also be a key tool for decision-makers, educators, and consumers to better understand how issues impact communities. IssueMap is one part of a larger FCC initiative to revamp how government agencies create value and support citizens.

  ### Will my data be made public?

  Yes, any data uploaded to IssueMap will be in the public domain.  If you have private data that you do not wish to be shared, you should not upload it to IssueMap.

  ### How do I share my map once I’ve created it?

  There are several options for sharing your new map.  1) You can click "export" and have the option to download you map as an image, KML or CSV.  You can embed the image in a document or presentation, the KML will open the map in popular mapping applications like Google Earth and the CSV file makes the data available to be read in spreadsheet programs.  2) You can also choose to click "embed" and click the copy button allowing you to embed that map on another Web page, blog or wiki.  3) You can also share the link to your map by clicking the Twitter, Facebook, or email icons to send it to your social networks.

  ### Can I make the legend go away?

  Yes, just click the green triangle on the legend and it will disappear except for a tab saying "legend."  You can make it reappear by clicking the green triangle in the tab.


