- title "Home"
%ol.description
  %li Upload or paste your raw map data...
  %li ...Customize map display, publish online, and share!

.intro
  %h2
    Got Data?
    %br
    Let us map it for you.

  %p
    IssueMap makes it easy to turn your data into a map that you can customize &amp; share online.

  - link_to new_map_path, :class => "call-to-action" do
    .label Create a map &raquo;
    .hint Create a new map from XLS or CSV.
