<ol id="homepage_description">
	<li>Upload or paste your raw map data...</li>
	<li>...Customize map display, publish online, and share!</li>
</ol>
<div id="homepage_intro">
	<h1>Got Data?<br />Let us map it for you.</h1>
	<p>IssueMap makes it easy to turn your data into a map that you can customize &amp; share online.</p>
	<%= link_to '<strong>Create a map &raquo;</strong>Create a new map from XLS or CSV.', new_map_path, :class => "button_pink" %>
	<br />
	<p>The site is currently in early release as we add more features. We'd love your <%= link_to "feedback", "http://issuemap.uservoice.com/forums/76087-general?lang=en&utm_campaign=Widgets&utm_content=tab-widget&utm_medium=Popin+Widget&utm_source=issuemap.uservoice.com" %> on how to improve IssueMap.</p>
</div> <!-- end: #homepage_intro -->