- title "Usage"
:markdown
  ## How to Use

  ### Step 1: Copy {#step1}

  Using IssueMap is as simple as "copy, paste, map." To create a map, first find a spreadsheet or well-formatted table that you want to map. IssueMap supports imports as .CSV, .XLS, .XLSX, or .ODF.  Alternatively, you can copy your data from a spreadsheet, or a table from the Web or other digital documents, and paste it into the IssueMap text box.

  IssueMap works best with data that is cleanly-formatted. The top row of the data should have the attributes for the data and the rows beneath should have the values or text for each attribute. At least one of the attributes needs to be a reference to a geographic boundary (like state, country, zipcode etc.).

  ### Step 2: Paste {#step2}

  Joining your data with geographic boundaries is easy. Select the appropriate geographic boundary for your data from a list provided by IssueMap, then indicate what value from the data you would like to map. Then, tell IssueMap what kind of data you’re dealing with: text (words), whole numbers, decimals, or time/date. Finally, give your map a title and click "Create Map."

  ### Step 3: Map {#step3}

  Now that your map has been created, you have several options to share it.  Click "export" to download your map. Select "image" to use the map in a document or presentation; "KML" to open the map in popular mapping applications like Google Earth; and "CSV" to make the data available to be read in spreadsheet programs. You can also choose to easily embed the IssueMap product on another Web page, blog or wiki  with pre-populated embed code. Finally, IssueMap makes it easy to share your map by clicking the Twitter, Facebook, or email icons to send it to your social networks.

  ### Example Spreadsheets {#spreadsheets}

= render :partial => "spreadsheet_templates"
