development:
  geoiq_endpoint: http://geoiq.issuemapperqa.geoiq.com
  geoiq_user: admin
  geoiq_password: xxxxxxxxx

test:
  geoiq_endpoint: http://geoiq.issuemapperqa.geoiq.com
  geoiq_user: admin
  geoiq_password: xxxxxxxxx
