########################################
# SQLite3 (gem "sqlite3-ruby")
defaults: &defaults
  adapter: sqlite3
  pool: 5
  timeout: 5000

development:
  database: db/development.sqlite3
  <<: *defaults

test:
  database: db/test.sqlite3
  <<: *defaults

########################################
# # MySQL (gem "mysql2")
# defaults: &defaults
#   adapter: mysql2
#   encoding: utf8
#   username: root
#   password:
#   host: localhost
#
# development:
#   database: issuemap_development
#   <<: *defaults
#
# test:
#   database: issuemap_test
#   <<: *defaults

########################################
# # PostgreSQL (gem "pg")
# defaults: &defaults
#   adapter: postgresql
#   encoding: unicode
#   host: localhost
#   pool: 5
#   # username: issuemap
#   # password:
#
# development:
#   database: issuemap_development
#   <<: *defaults
#
# test:
#   database: issuemap_test
#   <<: *defaults
