<h1>IssueMap Terms of Use</h1>

<p>THE TERMS AND CONDITIONS SET FORTH BELOW (THE "TERMS") GOVERN YOUR USE OF THE ISSUEMAP WEB SITE AND THE SERVICE AVAILABLE ON THis WEB SITE. THESE TERMS ARE A LEGAL CONTRACT BETWEEN YOU AND ISSUEMAP ("WE" "US" OR "ISSUEMAP") AND GOVERN YOUR ACCESS TO AND USE OF THE ISSUEMAP WEB SITE LOCATED AT: IssueMap.com (THE "SITE"). YOUR USE OF ISSUEMAP’S SOFTWARE AND the RELATED SERVICE IS SUBJECT TO THESE TERMS.</p>
  
<p>By clicking the "I Agree" button OR using the SITE OR THE SOFTWARE or Service PROVIDED THEREON, you agree to be bound by these Terms of Use. If you do not agree to the Terms of Use, do not CHECK the "I Agree" BOX and/or do not use the Software or the Service. You agree that use of the Software and/or use of the site signifies that you have read, understood, and agreed to be bound by these Terms of Use.</p>
  
<p>ISSUEMAP MAY MAKE CHANGES TO THE software and/or SERVICE OFFERED ON THE SITE AT ANY TIME WITHOUT NOTICE, AND ISSUEMAP CAN CHANGE THESE TERMS AT ANY TIME WITHOUT NOTICE BY POSTING UPDATED TERMS OF USE ON THE SITE. YOUR CONTINUED USE OF THE SITE AFTER SUCH CHANGES HAVE BEEN POSTED MEANS THAT YOU AGREE TO THE NEW TERMS, EVEN IF YOU HAVE NOT REVIEWED THE CHANGES. THEREFORE, YOU SHOULD CHECK THE TERMS OF USE POSTED ON THE SITE PERIODICALLY FOR UPDATES AND CHANGES.</p>


<p>You represent, acknowledge and agree that you are at least 18 years of age –or-that you are the parent or legal guardian of a user that is over the age of 13, and you agree to these Terms. If you are the parent or legal guardian of a user of this Site and you have questions about this Site or these Terms, please contact support@geocommons.com.</p>

<h2>License</h2>

<p>IssueMap provides content and services through this Site. The service (the "Service") allows you to analyze multiple geographic data sets through your Internet browser through the use of browser-based software (the "Software") made available on the Site. IssueMap grants you a limited, personal, non-exclusive and non-transferable license to (i) use the Software for personal use if you are an individual and solely for non-commercial use if you are an organization or an agent of your organization and (ii) to use all electronic or written content, information, data, text, scripts, graphics, interactive features, materials and other services generated, provided, accessed through and/or otherwise related to the Site, Software and Service, including trademarks, logos, graphics and images that are not Submissions (as defined below) (collectively, the "Materials"), subject to the these Terms.</p>

<h2>Ownership And Restrictions</h2>

<p>These Terms do not constitute a sale of the Software, any copy of the Software or the Materials. An express condition of these Terms is that IssueMap and its licensors retain all worldwide ownership of and rights, title and interest in and to the Software, and all copies and portions thereof, and the Materials, including without limitation, all copyrights, moral rights, trademark rights, trade secret rights and other proprietary rights therein and thereto, regardless of the form or media in or on which the Software or Materials or copies thereof may exist.</p>

<p>IssueMap reserves all rights not expressly granted to you. The use of the Service and the use of the Software and Materials is licensed only to you and may not be transferred to anyone without the prior written consent of IssueMap. Any authorized transferee of the Software and/or Materials shall agree in writing to be bound by the terms and conditions of these Terms. In no event may you copy, loan, rent, time-share, sublicense, assign, transfer lease, sell or otherwise dispose of the Software or Materials on a temporary or permanent basis except as expressly provided herein. These Terms shall benefit IssueMap and its successors and assigns. You may not, or permit any third party, to modify, adapt, translate, create derivative works, reverse engineer, decompile, disassemble or otherwise attempt to derive any source code from the Software. All logos and product names appearing on or in connection with the Software or Materials are proprietary to IssueMap or its licensors and/or suppliers. You agree never to remove any proprietary notices or product identification labels from the Software or Materials, if applicable. The limited license granted above terminates automatically, without notice to you, if you breach any of these Terms. Upon termination of the limited license, you agree to immediately destroy any downloaded or printed Materials or Software.</p>

<h2>Feedback</h2>

<p>Except as otherwise provided in the Terms, to the extent you provide IssueMap with any suggestions, information, ideas, or feedback concerning the Software, Service or Materials through the Site or other services available in connection with this Site, including, but not limited to, a description of any errors which you have discovered while using the Software, Service or Materials ("Feedback"), such Feedback will be the sole and exclusive property of IssueMap. You agree to assign, and hereby assign, all right, title and interest worldwide in and to the Feedback, and all related intellectual property rights, to IssueMap and agree to assist IssueMap in perfecting and enforcing such rights. IssueMap may publish any Feedback to assist us in responding to your support requests or to support other users of the Service.</p>

<h2>Electronic Communications</h2>

<p>By using the Service, you consent to receiving electronic communications from IssueMap. These electronic communications may include information concerning or related to our Service. These electronic communications are part of your relationship with IssueMap and you receive them as part of your use of the Service. You agree that any notices, agreements, disclosures or other communications that we send you electronically will satisfy any legal communication requirements, including that such communications be in writing.</p>

<h2>Privacy Policy</h2>

<p>Your use of this Site is governed by the IssueMap Community Privacy Policy, which is available at http://<%= request.host %>/privacy (the "Privacy Policy").</p>

<h2>Third Party Content</h2>

<p>Certain information and content may be provided by third party licensors and suppliers to IssueMap ("Third Party Content"). The Third Party Content is, in each case, the copyrighted work of the creator/licensor. Unless you have permission from the owner of the Third Party Content, you agree to only display the Third Party Content on your personal computer solely for your personal or business use. You acknowledge and agree that you have no right to download, cache, reproduce, modify, display (except as set forth in this paragraph), edit, alter or enhance any of the Third Party Content in any manner unless you have permission from the owner of the Third Party Content. ISSUEMAP DISCLAIMS ALL EXPRESS, IMPLIED AND STATUTORY WARRANTIES AND CONDITIONS WITH REGARD TO THIRD PARTY CONTENT, INCLUDING, BUT NOT LIMITED TO, ALL IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT.</p>

<h2>Links to Third Party Sites</h2>

<p>The Site may provide links to other Web sites or resources over which IssueMap does not have control ("External Web Sites"). Such links do not constitute an endorsement by IssueMap of those External Web Sites. You acknowledge that IssueMap is providing these links to you only as a convenience and further agree that IssueMap is not responsible for the content of such External Web Sites. Your use of External Web Sites is subject to the terms of use and privacy policies located on the linked to External Web Sites.</p>

<h2>Submissions</h2>

<p>You acknowledge that you are responsible for the information, data, images and other material that you upload, submit, post, disclose, distribute or otherwise make available on the Site (each a "Submission") through posting areas, e-mails, home pages, instant messaging or other services available in connection with this Site, and that you, and not IssueMap, have full responsibility for each such Submission you make, including its legality, reliability, appropriateness, and trademark and copyright ownership. You agree that any Submission provided by you in connection with this Site is provided on a non-proprietary and non-confidential basis. You will have the ability to post your Submissions to either public or non-public areas of the Site. If you post a Submission to a public area of the Site, such Submission will be disclosed and accessible to all other users of the Site, you will not be able to delete submissions to the public area. If you post a Submission to a non-public-area of the Site, such Submission will be disclosed and accessible only to those other users of the Site who you designate under your account. You hereby grant to: (i) IssueMap, (ii) its affiliates, (iii) the assignees and successors of IssueMap and its affiliates, (iv) those certain users of the Site designated under your account with respect to non-publicly posted Submissions or (v) all other users of the Site with respect to publicly posted Submissions, a Creative Commons Attribution 3.0 license (located at the URL:http://creativecommons.org/licenses/by/3.0/us/ to each Submission. YOU RETAIN OWNERSHIP OF ANY COPYRIGHTS OR OTHER INTELLECTUAL PROPERTY RIGHTS APPLICABLE TO ANY INFORMATION YOU SUBMIT TO ISSUEMAP, SUCH AS YOUR SUBMISSIONS. You shall be solely liable for any damage resulting from any infringement of copyrights, trademarks, proprietary rights, or any other harm resulting from any Submission that you make.</p>
<p>You represent and warrant that: (i) you own all Submissions posted by you on or through this Site or otherwise have the right to grant the licenses set forth in this section, and (ii) the posting of your Submissions on or through this Site does not violate the privacy rights, publicity rights, trademark rights, copyrights, contract rights or any other rights of any person or entity. You agree to pay for all royalties, fees, damages and any other monies owing any person by reason of any Submissions posted by you to or through this Site.</p>

<h2>Posting Etiquette</h2>

<p>IssueMap asks that you respect our online community and other individuals. Your conduct should be guided by common sense and basic etiquette. To further these common goals, when posting Submissions to or otherwise using this Site and/or the Service, you agree not to, without limitation, post any Submissions that:</p>

<ul>
<li>Defame, abuse, harass, threaten, or otherwise violate the legal rights (such as rights of privacy and publicity) of others.</li>
<li>Use racially, ethnically, or otherwise offensive language.</li>
<li>Post anything that exploits children or minors or that depicts cruelty to animals.</li>
<li>Post any copyrighted or trademarked materials without the express permission from the owner.</li>
<li>Disseminate any unsolicited or unauthorized advertising, promotional materials, "junk mail", "spam", "chain letters", "pyramid schemes", or any other form of such solicitation.</li>
<li>Contains software viruses or any other computer codes, files or programs that are designed or intended to disrupt, damage, limit or interfere with the proper function of any software, hardware or telecommunications hardware or to damage or obtain unauthorized access to any system, data or other information of IssueMap or any third party.</li>
<li>Impersonates any person or entity, including any employee or representative of IssueMap.</li>
</ul>
<p>This list of prohibitions provides examples and is not complete or exclusive. IssueMap reserves the right to (a) terminate your access to your account, your ability to post to this Site (or the Service) and (b) refuse, delete or remove any Submissions, with or without cause and with or without notice, for any reason or no reason, or for any action that IssueMap determines is inappropriate or disruptive to this Site or to any other user of this Site and/or Service. IssueMap reserves the right to restrict the number of emails or other messages which you are allowed to send to other users to a number that IssueMap deems appropriate in IssueMap’s sole discretion. IssueMap may report to law enforcement authorities any actions that may be illegal, and any reports it receives of such conduct. When legally required or at IssueMap’s discretion, IssueMap will cooperate with law enforcement agencies in any investigation of alleged illegal activity on this Site or on the Internet.</p>

<p>These prohibitions do not require IssueMap to monitor, police or remove any Submissions or other information submitted by you or any other user.</p>

<p>You understand that your interactions and dealings with other users of this Site are solely between you and such other user. IssueMap is not responsible for any loss or damage of any sort incurred as a result of any such interactions or dealings, and IssueMap has no obligation to become involved in any resulting dispute.</p>

<h2>Unauthorized Uses and Activities</h2>

<p>Unauthorized use of any Software, Materials or Third Party Content contained on the Site may violate certain laws and regulations. You agree that IssueMap shall have no duty to investigate your right to use or use of the Software, Service and Materials. You shall indemnify and hold IssueMap and its officers, directors, employees, affiliates, agents, licensors, and business partners harmless from and against any and all costs, damages, liabilities, and expenses (including attorneys’ fees) IssueMap or any other indemnified party suffers in relation to, arising from, or for the purpose of avoiding, any claim or demand from a third party that your use of the Site or the use of the Site by any person using your IssueMap Screen Name and/or password (including without limitation your participation in the posting areas or your Submissions) violates any applicable law or regulation, or the copyright, trademark rights or other rights of any third party, except to the extent the Software and/or Materials infringes any patent, copyright or trade secret of a third party. </p>

<p>You shall not engage in any unauthorized activities, which include: (i) taking any action that imposes or may impose, as determined by IssueMap in its sole discretion, an unreasonable or disproportionately large load on IssueMap’s or its third party service providers’ infrastructure; (ii) interfering or attempting to interfere with the proper working of the Service or any activities conducted on the Service; and (iii) bypassing any measures IssueMap may use to prevent or restrict access to the Service (or other accounts, computer systems or networks connected to the Service).</p>

<h2>Copyright and Trademark Infringements</h2>

<h2>Notification:</h2>
<p>IssueMap respects the intellectual property rights of others, and we ask you to do the same. IssueMap may, in appropriate circumstances and at our discretion, terminate the Service and/or access to this Site for users who infringe the intellectual property rights of others. If you believe that your work is the subject of copyright infringement and/or trademark infringement and appears on our Site, please provide IssueMap’s designated agent the following information:</p>
<ul>
<li>A physical or electronic signature of a person authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.</li>
<li>Identification of the copyrighted and/or trademarked work claimed to have been infringed, or, if multiple works at a single online site are covered by a single notification, a representative list of such works at that site.</li>
<li>Identification of the material that is claimed to be infringing or to be the subject of infringing activity and that is to be removed or access to which is to be disabled at the Site, and information reasonably sufficient to permit IssueMap to locate the material.</li>
<li>Information reasonably sufficient to permit IssueMap to contact you as the complaining party, such as an address, telephone number, and, if available, an electronic mail address at which you may be contacted.</li>
<li>A statement that you have a good faith belief that use of the material in the manner complained of is not authorized by the copyright and/or trademark owner, its agent, or the law.</li>
<li>A statement that the information in the notification is accurate, and under penalty of perjury, that you are authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.</li>
</ul>
<p>IssueMap’s agent for notice of claims of copyright or trademark infringement on this Site can be reached as follows:</p>

<p>By mail:</p>
<p>IssueMap</p>
<p>Attn: Operations Director</p>
<p>2200 Wilson Blvd. Ste 307</p>
<p>Arlington, VA 22201         </p>

<p>By phone:</p>
<p>(703) 647-2140</p>

<p>By email: legal@fortiusone.com</p>

<p>Please also note that for copyright infringements under Section 512(f) of the Copyright Act, any person who knowingly materially misrepresents that material or activity is infringing may be subject to liability.</p>

<h2>Counter-Notification:</h2>
<p>If you are a user who posted allegedly infringing material and who received notification to that effect from IssueMap, you may elect to send us a counter notice. To be effective such counter notice must be a written communication provided to our designated agent that includes substantially the following (please consult your legal counsel or see 17 U.S.C. Section 512(g)(3) to confirm these requirements):</p>

<ul>
<li>Your physical or electronic signature.</li>
<li>Identification of the material that has been removed or to which access has been disabled and the location at which the material appeared before it was removed or access to it was disabled.</li>
<li>A statement under penalty of perjury that you have a good faith belief that the material was removed or disabled as a result of mistake or misidentification of the material to be removed or disabled.</li>
<li>Your name, address, and telephone number, and a statement that you consent to the jurisdiction of Federal District Court for the judicial district in which the address is located, or if your address is outside of the United States, for any judicial district in which IssueMap may be found, and that you will accept service of process from the person who provided notification of a complaint of allegedly infringing materials or an agent of such person.</li>
</ul>

<p>Such written notice should be sent to our designated agent as follows:</p>

<p>By mail:</p>
<pre>
FortiusOne
Attn: Operations Director
2200 Wilson Blvd. Ste 307
Arlington, VA 22201
</pre>

<p>By phone:</p>
<p>(703) 647-2140</p>

<p>By email: legal@fortiusone.com</p>

<p>Only the intellectual property rights owner is permitted to report potentially infringing items through IssueMap’s reporting system set forth above. If you are not the intellectual property rights owner, you should contact the intellectual property rights owner and they can choose whether to use the procedures set forth in these Terms.</p>

<h2>Disclaimer of Warranties</h2>

<p>Your use of the Site and/or the Service is at your own risk. You agree that neither IssueMap nor its agents or representatives shall be responsible for loss, destruction, or alteration of programs, content, data and other information resulting from use of the Software or the Service. ISSUEMAP, ON ITS OWN BEHALF AND THAT OF ITS LICENSORS, MAKES NO EXPRESS, IMPLIED OR STATUTORY REPRESENTATIONS, WARRANTIES OR GUARANTEES IN CONNECTION WITH THE SITE, THE SERVICE OR ANY MATERIALS OR THIRD PARTY CONTENT, RELATING TO THE QUALITY, SUITABILITY, TRUTH, ACCURACY OR COMPLETENESS OF ANY INFORMATION OR MATERIAL CONTAINED ON THE SITE. UNLESS OTHERWISE EXPLICITLY STATED, TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, THE SITE, THE SERVICE, MATERIALS, THIRD PARTY CONTENT AND ANY INFORMATION OR MATERIAL CONTAINED ON THE SITE IS PROVIDED TO YOU ON AN "AS IS," "AS AVAILABLE," AND "WHERE-IS" BASIS WITH NO WARRANTY OF IMPLIED WARRANTY OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR NON-INFRINGEMENT OF THIRD PARTY RIGHTS. ISSUEMAP DOES NOT WARRANT THAT THE FUNCTIONS CONTAINED IN THE PRODUCT WILL MEET YOUR REQUIREMENTS, OR THAT THE OPERATION OF THE SERVICE OR THE SOFTWARE WILL BE UNINTERRUPTED OR ERROR-FREE, OR THAT DEFECTS IN THE SERVICE OR THE SOFTWARE WILL BE CORRECTED. NO ORAL OR WRITTEN INFORMATION OR ADVICE GIVEN BY ISSUEMAP OR ITS AUTHORIZED REPRESENTATIVES SHALL CREATE A WARRANTY OR IN ANY WAY INCREASE THE SCOPE OF THIS WARRANTY. SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OF IMPLIED WARRANTIES, SO THE ABOVE EXCLUSION MAY NOT APPLY TO YOU. </p>

<h2>Limitation of Liability</h2>

<p>ISSUEMAP SHALL NOT BE LIABLE TO YOU OR ANY THIRD PARTY FOR ANY DAMAGES RESULTING FROM YOUR DISPLAYING, COPYING OR DOWNLOADING ANY SOFTWARE OR MATERIALS ON THE SITE. IN NO EVENT SHALL ISSUEMAP BE LIABLE TO YOU OR ANY THIRD PARTY FOR ANY INDIRECT, EXTRAORDINARY, EXEMPLARY, PUNITIVE, SPECIAL, INCIDENTAL OR CONSEQUENTIAL DAMAGES (INCLUDING LOSS OF DATA, REVENUE, PROFITS, USE OR OTHER ECONOMIC ADVANTAGE) HOWEVER ARISING, EVEN IF ISSUEMAP KNOWS THERE IS A POSSIBILITY OF SUCH DAMAGE.</p>

<h2>Local Laws; Export Control</h2>

<p>IssueMap controls and operates the Site from its headquarters in the United States and the Materials may not be appropriate or available for use in other locations. If you use the Site outside the United States, you are responsible for following applicable local laws.</p>
<h2>Dispute Resolution</h2>

<p>A printed version of the Terms and any notice given in electronic form shall be admissible in judicial or administrative proceedings based upon or relating to the Terms to the same extent and subject to the same conditions as other business documents and records originally generated and maintained in printed form. You and IssueMap agree that any cause of action arising out of or related to the Service must commence within one (1) year after the cause of action arose or such cause of action will be permanently barred.</p>


<h2>General</h2>

<p>The Terms are personal to you and may not be assigned, transferred or sublicensed by you without IssueMap’s prior written consent. IssueMap may assign, transfer or delegate any of its rights and obligations hereunder. The Terms shall be governed and construed in accordance with the laws of the Commonwealth of Virginia, without regard to choice of law provisions, will govern these Terms. Any disputes relating to these Terms or the Site will be heard in the courts located in the Commonwealth of Virginia. If any of these Terms is found to be inconsistent with applicable law, then such term shall be interpreted to reflect the intentions of the parties, and no other terms will be modified. IssueMap’s failure to enforce any of these Terms is not a waiver of such term. The Terms are the entire agreement between you and IssueMap and supersede all prior or contemporaneous negotiations, discussions or agreements between you and IssueMap about the Site.</p>
