<h1>Upload a File</h1>

<%- form_for(@upload, :url => uploads_path, :method => :post, :html => { :multipart => true }) do |f| -%>
  <%= f.error_messages -%>
  <p>
    <%= f.label :upload, 'File' -%>
    <%= f.file_field :upload -%>
  </p>
  <p>
    <%= f.submit 'Upload File' -%>
  </p>
<%- end -%>
